<div>
	<h1><%= @user.username %> Stats:</h1>
</div>
<p><%= link_to 'Play Game', new_game_path, 'data-no-turbolink' => true %></p>

<div class="container">
	<% @user.games.each do |game|  %>
	<p> Score: <%= game.score  %></p>
	<p>Scrabble Score: <%= game.scrabble_score %> </p>
<% end %>
</div>
