<% sorted_games = @games.sort_by{ |id,score| score }.reverse %>
<% i = 0 %>
<table class="score_table">
  <tr>
  <th>Rank</th>
  <th>Name</th>
  <th>Score</th>
  </tr>
<% sorted_games.each_with_index do |game, index| %>

<tr>
  <td><%= index + 1%></td>
  <td><%= game.game_username %></td> <!-- put in helper -->
  <td><%= game.score %></td>
</tr>

<% end %>
</table>