body {
	background: lightsteelblue;
}

h2 {
	text-align: center;
	color: maroon;
}

#game_board {
	display: inline-block;
	margin-left: 200px;
	background-color: red;
	float: right;
}

#gameCanvas {
	margin: 0 auto;
	background-color: black;
}

#info_panel {
	margin: 100px 110px 0 200px;
	display: inline-block;
	float: left;
}

.info_boxes {
	background-color: grey;
	margin-top: 30px;
	padding: 5px;
	width: 180px;
	border: 1px solid red;
	color: lightgrey;
	font-weight: bold;
}

#preview_box {
	text-align: center;
	height: 120px;
}