/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	background: black;
}

header {
	margin-bottom:10px;
}

header ul {
	float:left;
}

.logo {
	float:right;
}

h1 {
	text-align: center;
	color: #E60484;
	font-size: 3em;
	font-family: 'Orbitron', sans-serif;
}

h2 {
	color:#E60484;
	font-family: 'Orbitron', sans-serif;
}

h4 {
	color:#E60484;
	font-family: 'Orbitron', sans-serif;
}

.tetrog {
	color:#E60484;
	font-family: 'Orbitron', sans-serif;
}

.container {
	clear:both;
}

#gameboard {

}

#gameCanvas {
	margin: 0 auto;
	background-color: black;
	border: 10px #E60484 solid;
	border-style: double;
	margin: 30px 0;
	float: left;
}

#info_panel {
	/*margin: 0px 110px 0 200px;*/
	margin: 0px 100px 0 20px;
	float: left;
}

.info_boxes {
	background-color: black;
	margin-top: 30px;
	padding: 8px;
	width: 180px;
	border: 3px solid #3C00FB;
	border-radius: 8px;
	color: #C7BFE0;
	font-weight: bold;
	font-size:16px;
	line-height: 18px;
	font-family: helvetica;
}

#score_box p {
	margin:10px 0;
}

#score_box span {
	padding-top:5px;
	color: #E60484;
	font-size:20px;
	display:block;
	font-family: 'Orbitron', sans-serif;
}

#preview_box {
	height: 130px;
}

#gamePreview {
	margin-left: 50px;
}

#boggle_box {
	height: 80px;
}

#right-bar {
	float: right;
	margin: 30px 30px 0 0;
	width: 200px;
	/*height: 500px;*/
}

#right-bar h3 {
	display: none;
	color: #E60484;
	font-family: 'Orbitron', sans-serif;
	/*margin-left: 50px;*/
}

#colorkey {
	margin-bottom:40px;
}

.key div {
	height: 20px;
	width: 20px;
	margin-top: 20px;
	border-radius: 3px;
	/*margin-left: 50px;*/
}
#keybox1 {
	background-color: #95B8D3;
}

#keybox2 {
	background-color: #095E9F;
}

#keybox3 {
	background-color: #DD9ABD;
}

#keybox4 {
	background-color: #89223A;
}

.pkey {
	position: relative;
	/*left: 80px;*/
	margin-left:30px;
	margin-top: -20px;
	color: white;
	font-size: 1em;
}

#right-bar a {
	border: 3px solid #3C00FB;
	border-radius: 8px;
	padding: 5px;
	color: #C7BFE0;
	text-transform: uppercase;
	font-weight: bold;
}

#boggle_letters {
	width: 155px;
	color:#000000;
}

#wordNotFound {
	color: #FFF866;
	display: none;
	font-family: 'Orbitron', sans-serif;
	position: fixed;
	z-index: 1;
	margin-left: 300px;
	margin-top: 0;
}

.score span {
	color:#E60484;
}
.score p {
	color: #CCFFFF;

.score_table {
	width: 100%;
	font-family: Orbitron;
	color: #CCFFFF;
}

}
 #cut {
	color:#E60484;
 }

#instructions {
	width: 700px;
	color: #AAA;
}

#instructions strong {
	color: #CCC;
}

#instructions h4 {
	margin-top: 25px;
}

#disclaimer {
	color: #555;
}

#boggle_table {
	margin: 20px auto;
}

#boggle_table .die {
	font-size: 1.5em;
	border: 2px solid #555;
	text-align: center;
	width: 30px;
	height: 30px;
	background-color: white;
	color: blue;
}

#boggle_table .legit {
	font-weight: bold;
	text-align: center;
	color: blue;
	background-color: pink;
	border: 2px solid #555;
}
