/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	background: black;
}

h1 {
	text-align: center;
	color: #E60484;
	font-size: 3em;
	font-family: 'Orbitron', sans-serif;
	margin-left: -70px;

}

#game_board {
	display: inline-block;
	margin-left: 200px;
	background-color: red;
	float: right;
}

#gameCanvas {
	margin: 0 auto;
	background-color: black;
	border: 10px #E60484 solid;
	border-style: double;
	margin-top: 30px;
	float: left;
}

#info_panel {
	margin: 0px 110px 0 200px;
	float: left;
}

.info_boxes {
	background-color: black;
	margin-top: 30px;
	padding: 5px;
	width: 180px;
	height: 30px;
	border: 3px solid #3C00FB;
	border-radius: 8px;
	color: #C7BFE0;
	font-weight: bold;
	line-height: 4px;
	font-family: helvetica;
}

#preview_box {
	text-align: center;
	height: 120px;
}

#boggle_box {
	height: 90px;
}

#colorkey {
	float: right;
	margin: 30px 50px 0 0;
	width: 300px;
	height: 500px;
}

#colorkey h3 {
	display: none;
	color: #E60484;
	margin-left: 50px;
}


#keybox1 {
	height: 20px;
	width: 20px;
	margin-top: 20px;
	background-color: #E77F9C;
	border-radius: 3px;
	margin-left: 50px;
}

#keybox2 {
	height: 20px;
	width: 20px;
	margin-top: 20px;
	background-color: #788AEC;
	border-radius: 3px;
	margin-left: 50px;
}

#keybox3 {
	height: 20px;
	width: 20px;
	margin-top: 20px;
	background-color: #82002C;
	border-radius: 3px;
	margin-left: 50px;
	
}

#keybox4 {
	height: 20px;
	width: 20px;
	margin-top: 20px;
	background-color: #1932B9;
	border-radius: 3px;
	margin-left: 50px;
}

.pkey {
	position: relative;
	left: 80px;
	margin-top: -20px;
	color: white;
	font-size: 1em;
}

#boggle_letters {
	width: 155px;
}











