<% if current_user  %>
	<p><%= link_to 'New Game', new_game_path, 'data-no-turbolink' => true %></p>
<% else %>
	<p><%= link_to "Play as Guest!", new_game_path, 'data-no-turbolink' => true  %></p>
<% end %>

<div id="instructions">

  <h2>So what is this Tetroggleable everyone's talking about?</h2>
  <p><strong>
    Well, it's three awesome games in one:  Tetris, Boggle, and Scrabble.  It's the ultimate in speed vs. wit, dexterity vs. vocabularity, literati vs. Maserati.  In short, it's the strategy/word game of the future.  <br>And the future is now!
  </strong></p>

  <h4>What's Tetris?</h4>

  <p>
    This section is for you, Mom!  Tetris is a classic arcade/Gameboy game from the 1980s/1990s.  There are seven blocks, each consisting of four tiles in various arrangements.  These blocks fall from the top of the screen to the bottom.  <strong>Your ultimate goal is to keep the blocks from piling too high and reaching the top of the screen</strong>--if that happens, GAME OVER, man.
  </p>

  <p>
    Use the right and left arrow keys to move the blocks from side to side.  Use the up arrow key to rotate the block ninety degrees.  Use the down arrow key to bring the block down faster or the space bar to drop the block instantly.  <strong>Here's the key: every time you complete a full row of ten tiles, that full row disappears and you're one step closer to safety.</strong>
  </p>

  <h4>What's Boggle?</h4>

  <p>
    This paragraph is for you, Millennials!  In Boggle, dice land on a fixed grid (originally 4x4), and players write down as many words as they can before time runs out.  Words must be at least three letters long, and they can run horizontally, vertically, and diagonally.  <strong>But this is what makes Boggle</strong> (and also <span class="tetrog">Tetroggleable</span>) <strong>special, they don't even have to run in a straight line.</strong>  They just have to be made of adjacent tiles.  So the word PROGRAM below is completely legit.
  </p>

  <table id="boggle_table">
    <tr>
      <td class="legit" class="die">P</td>
      <td class="die">_</td>
      <td class="die">_</td>
      <td class="die">_</td>
    </tr>
<tr>
      <td class="die">_</td>
      <td class="legit" class="die">R</td>
      <td class="die">_</td>
      <td class="die">_</td>
    </tr>
<tr>
      <td class="legit" class="die">O</td>
      <td class="die">_</td>
      <td class="legit" class="die">A</td>
      <td class="die">_</td>
    </tr>
<tr>
      <td class="legit" class="die">G</td>
      <td class="legit" class="die">R</td>
      <td class="die">_</td>
      <td class="legit" class="die">M</td>
    </tr>
  </table>

  <p>
    In <span class="tetrog">Tetroggleable</span>, there are letters in each of the Tetris tiles.  If you're having trouble getting Tetris rows, or if you want to rack up BIG POINTS, then you can type in words you see in the landed blocks.  Those tiles disappear, and you get points based on the letter values.  And if your word happens to appear on the board multiple times--or in multiple permutations--then you get credit for each of them.
  </p>

  <h4>And Scrabble?</h4>

  <p>
    These instructions are too long already.  You gotta know what Scrabble is!  Scrabble is how <span class="tetrog">Tetroggleable</span> determines the point values.  Common letters like A and N are worth only one point, and unusual letters like Z and Q are worth ten points.  In addition, you can get your letter points or word points multiplied if you hit the colored squares.  They represent double/triple letter/word scores.  That's where the BIG POINTS are!
  </p>

  <h4>So Which Should I Play?  Tetris? Boggle? Scrabble?</h4>

  <p>
    Play them all!  That's what makes the game fantastic.
  </p>

  <p id="disclaimer">
    <strong>Lawyerly disclaimner:</strong>  <em>Note that we're still testing the game and changing some of the rules occasionally, scoring in particular.  So don't be surprised if you score the high score one day and it's gone the next day.  Our goal is to make <span class="tetrog">Tetroggleable</span> better and better!
  </em></p>

  <p>
    We really hope you enjoy it!  We had a lot of fun making it.
  </p>

  <p>
    -- Alan, Eddie, John, Kim & Stephen
  </p>

</div>
