<% if current_user  %>
	<p><%= link_to 'New Game', new_game_path, 'data-no-turbolink' => true %></p>
<% else %>
	<p><%= link_to "Play as Guest!", new_game_path, 'data-no-turbolink' => true  %></p>
<% end %>

<div id="instructions">

  <h2>So what is this Tetroggleable everyone's talking about?</h2>
  <p>
    Well, it's three awesome games in one:  Tetris, Boggle, and Scrabble.  It's the ultimate in speed vs. wit, dexterity vs. vocabularity, literati vs. Maserati.  In short, it's the strategy/word game of the future.  And the future is now!
  </p>

  <h4>What's Tetris?</h4>

  <p>
    This section is for you, Mom!  Tetris is a classic arcade/Gameboy game from the 1980s/1990s.  There are seven blocks, each consisting of four tiles in various shapes.  These blocks fall from the top of the screen to the bottom.  Your ultimate goal is to keep the blocks from piling too high and reaching the top of the screen--if that happens, GAME OVER, man.
  </p>

  <p>
    Use the right and left arrow keys to move the blocks from side to side.  Use the up arrow key to rotate the block ninety degrees.  Use the down arrow key to bring the block down faster or the space bar to drop the block instantly.  Here's the key: every time you complete a full row of ten tiles, that full row disappears and you're one step closer to safety.
  </p>

  <h4>What's Boggle?</h4>

  <p>
    This paragraph is for you, Millennials!  In Boggle, dice land on a fixed grid (originally 4x4), and players write down as many words as they can before time runs out.  Words must be at least three letters long, and they can run horizontally, vertically, and diagonally.  <strong>But this is what makes Boggle special, they don't even have to run in a straight line.</strong>  They just have to be made of adjacent tiles.  So the word PROGRAMMING below is completely legit.
  </p>

  <table id="boggle_table">
    <tr>
      <td class="die" class="legit">P</td>
      <td class="die" class="legit">G</td>
      <td class="die" class="legit">N</td>
      <td class="die">_</td>
    </tr>
<tr>
      <td class="die">_</td>
      <td class="die" class="legit">R</td>
      <td class="die">_</td>
      <td class="die" class="legit">I</td>
    </tr>
<tr>
      <td class="die" class="legit">O</td>
      <td class="die">_</td>
      <td class="die" class="legit">A</td>
      <td class="die" class="legit">M</td>
    </tr>
<tr>
      <td class="die" class="legit">G</td>
      <td class="die" class="legit">R</td>
      <td class="die" class="legit">M</td>
      <td class="die">_</td>
    </tr>
  </table>


  <h4>I Know What Scrabble Is</h4>

  <h4>So Which Should I Play?  Tetris? Boggle? Scrabble?</h4>

  <p>
    Play them all!  That's what makes the game fantastic.
  </p>

  <p id="disclaimer">
    <strong>Lawyerly disclaimner:</strong>  <em>Note that we're still testing the game and changing some of the rules occasionally, scoring in particular.  So don't be surprised if you score the high score one day and it's gone the next day.  Our goal is to make the game better and better!
  </em></p>

  <p>
    We really hope you enjoy it!  We had a lot of fun making it.
  </p>

  <p>
    -- Alan, Eddie, John, Kim & Stephen
  </p>

</div>
