	<h2>Tetroggleable</h2>
<div id="info_panel">
	
	<div class="info_boxes" id="preview_box">
		<p>Preview <span id="preview"></span></p>
	</div>

	<div class="info_boxes" id="scrabble_score_box">
		<p>Scrabble Score: <span id="scrabble_score"></span></p>
	</div>

	<div class="info_boxes" id="lines_box">
		<p>Lines: <span id="lines"></span></p>
	</div>

	<div class="info_boxes" id="overall_score_box">
		<p>Score: <span id="overall_score"></span></p>
	</div>

</div>

<div id="gameboard">
	<canvas id="gameCanvas" width="420" height="640"></canvas>
</div>
